
label {
  clear: both;
  font-size: 14px;
  font-weight: bold;
  padding: 0.8em 0 0.2em 0;
  user-select: none;
  color: black;
}

.atom {
  background-color: #282C34;
  box-shadow: 4px 4px 2.5px #091323;
  max-width: 90%;
  font-size: 24px;
  border-radius: 9px;
  padding: 5px;
  color: #D9D9D9;

}
.lgrey {
  color: #D9D9D9;
}
.pur {
  color: #905EB5;
}
.blu {
  color: #00B0F0;
}

.yel {
color:  #FFD800;
}

.or {
  color: #FFC014;
}

.rd {
  color: #E06C75;
}

input,
button {
  font-size: 14px;
  padding: 3px 6px;
  margin: 0;
  border: 1px solid #333;
  outline: 0;
  box-shadow: none;
  back
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  display: inline-block;
  max-width: 400px;
  padding-left: 5px;
  background-color: #fff;
  border-right: 0 none;
  border-radius: 3px 0 0 3px;
}

button {
  position: relative;
  background-color: green;
  color: tan;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  padding: 2px;
  cursor: pointer;

}

.copied::after {
  position: absolute;
  top: 12%;
  right: 110%;
  display: block;
  content: "copied";
  font-size: 0.75em;
  padding: 2px 3px;
  color: #fff;
  background-color: #22a;
  border-radius: 3px;
  opacity: 0;
  will-change: opacity, transform;
  animation: showcopied 1.5s ease;
}

@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}
.classyDiv {
  padding: 10px;
  background-color: rgb(101,149,93);
  border-radius: 9px;
  color: black;
  font-style: sans-serif;
  font-size: 18px;
  line-height: 200%;
  text-emphasis: bolder;
  background-color: #FFFF66;
  box-shadow: 4px 4px 2.5px #443700;
  align: "center";
}
p {
  padding: 10px;
  border-radius: 9px;
  color: black;
  font-style: sans-serif;
  font-size: 18px;
  line-height: 200%;
  text-emphasis: bolder;
  background-color: #FFFF66;
  box-shadow: 4px 4px 2.5px #443700;
  max-width: 66.6%;
  align: "center";
}
col-7{
  align: "center";
}
a:link{
  color: green;
}
a.hover{
  color: darkred;
}
h3 {
  color: #443700;
}
.codeWrite {
  blackground-color: #282A34;
  font-style: Helvetica,sans-serif;
  color: #DBDBDB;
}
h6 {
  color: black;
  font-style: Helvetica,sans-serif;
  font-size: 24px;
  font-style: italic;
}
img {
  border-radius: 6px;
  max-width: 100%;
  height: auto;
}
.copyContainer {
  margin-left: 20px;
  padding: 20px;
  max-height: 350px;
}
